# Ssh Keys
cloudlab
cloudlab.pub

# Don't include any perf files
*.perf
*.data
*.old

# Personal tasks list
todo.md

# Static builds
subprojects/

### CMake
builddir/*

### Protobuf 
proto/ringclient.pb.*

### External Libraries
code/utils/yaml-cpp/

### Switch simulation
code/tutorials/exercises/*
experiments/openvswitch-3.4.0/

# Python byte code
code/tutorials/*.pyc
code/tutorials/*.pyo

# Compiled JSON
code/tutorials/*.json
!code/tutorials/*p4app.json
!code/tutorials/topology.json
!code/tutorials/*-runtime.json

code/tutorials/*.pcap

# Extracted solutions
code/tutorials/solution*/
!code/tutorials/solution/

# Build folders
code/tutorials/build*/

# Logs folders
code/tutorials/logs/

### Experiments
experiments/personal.yaml
experiments/testing/*
experiments/workloads/ycsb-0.17.0/*
experiments/scripts/*.yaml
experiments/scripts/old_scripts/*
experiments/scripts/yamls/*
experiments/scripts/old_tomls/*


# Files we do want to keep
!experiments/scripts/coordinator.py
!experiments/scripts/spawn_machines.py
!experiments/scripts/README.md
!experiments/scripts/profile.py

# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Node artifact files
node_modules/
dist/

# Compiled Java class files
*.class

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# Package files
*.jar

# Maven
target/
dist/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml

# Generated by MacOS
.DS_Store

# Generated by Windows
Thumbs.db

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Vim files
*/*.swp
code/src/*.swp
code/include/*.swp
experiments/scripts/*.swp
experiments/unit_tests/*.swp
experiments/yaml/*.swp

# Packet captures
*.pcap

# Experiments
experiments/results/*
experiments/scripts/*.png
experiments/client
experiments/scripts/.venv/
experiments/scripts/venv/*
experiments/server
experiments/pktgen_tests/results/
experiments/pktgen_tests/lib/
experiments/pktgen_tests/bin/
experiments/pktgen_tests/include/
experiments/pktgen_tests/share/
experiments/pktgen_tests/lib64
experiments/pktgen_tests/pyvenv.cfg
